<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--org.postgresql.Driver-->
        <property name="connection.driver_class">org.postgresql.Driver</property> 
        <property name="connection.url">jdbc:postgresql://localhost:5432/pet-point</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hbm2ddl.import_files">data.sql</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        
        <!--Mapeamento das classes utilizadas no projeto-->
        <mapping class="entities.Cliente" />
        <mapping class="entities.Especie" />
        <mapping class="entities.Funcionario" />
        <mapping class="entities.Log" />
        <mapping class="entities.Permissao" />
        <mapping class="entities.Pet" />
        <mapping class="entities.Produto" />
        <mapping class="entities.Raca" />
    </session-factory>
</hibernate-configuration>